* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "inter", sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 450px;
    padding: 30px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-image {
    width: 120px;
    display: block;
    border-radius: 50%;
    margin-bottom: 30px;
}

.name {
    font-weight:600;
    margin-bottom: 10px;
}

.address {
    font-weight: 600;
    color: hsl(75, 94%, 57%);
    margin-bottom: 30px;
}

.intro {
    color: hsl(30, 19%, 88%);
    margin-bottom: 30px;
    font-weight: 400;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.link-tab {
    background-color: hsl(0, 0%, 20%);
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
}

.link-tab:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}